.filter-input{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 55px;
}

.filter-container{
    display: flex;
    justify-content: space-around;
    width: 95%;
    padding: 20px;
    gap: 15px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}

.filter-container select{
    margin-top: 10px;
    width: 282px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #CED3D8;
    background: #FFF;
    color: #CED3D8;
    font-family: Epilogue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

