

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 5%;
    background-color: var(--blue);
    color: white;
    
}

.sizing{
    font-size: 2rem;
}

.header{
    display: flex;
    align-items: center;
    
}

.header h1{
    padding-left: 5px;
}

.nav-container{
    display: flex;
    width: 28%;
    justify-content: center;
}

.nav-container p{
    padding-top: 15px;
    padding-right: 15%;
    padding-left: 10px;  
   
}

.align{
    display: flex;
    align-items: center;
}

.align span{
    margin-right: 10px;
}