.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 5%;
    background-color: var(--blue);
    color: white;
    
}

.sizing{
    font-size: 2rem;
}

.header{
    display: flex;
    align-items: center;
    
}

.header h1{
    padding-left: 5px;
}

.nav-container{
    display: flex;
    align-items: center;
    width: 28%;
    justify-content: flex-end;
}

.nav-container p{
    padding-right: 15%;
    padding-left: 10px;  
   
}

