.property-images{
    width: 100px;
    height: 100px;
}

.home-det-container{
    display: flex;
    flex-wrap: wrap;
  
    min-height: 150vh;
}

/* Below is page details */



.width{
    width: 50%;
}

.property-img-container{
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 5%;
}

.property-images-first{
    width: 90%;
    border-radius: 24px;

}

.property-images{
    width: 32%;
    height: auto;
    border-radius: 18px;  
}

.bottom-row-img{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 20px 0px;
    overflow: scroll;
}

.property-spec-container{
    /* border: 1px green solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 5%;
}

.prop-address{
    /* border: 1px solid red; */
    width: 90%;
    display: flex;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: Epilogue;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    padding: 2%;
    border-bottom: 1px #CED3D8 solid;
}

.property-spec{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    text-align: center;
    
}

.property-det-card{
    border: 1px solid #CED3D8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
    width: 90%;
    height: 70%;
    margin: 0px 0px 40px 0px;
}

.det-width{
    width: 33.3%;
    height: 100px;
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.det-content{
    width: 100%;
    color: #3A5295;
    text-align: center;
    font-family: Epilogue;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.save-view-container{
    display: flex;
    width: 90%;
    justify-content: space-between;    
}

.save-view-container p{
    padding-top: 30px;
}

.save-view-container p:hover{
    background-color: #3A5295;
    color: white;
}

.save-view-container p{
    border-radius: 12px;
    border: 1px solid #CED3D8;
    background: #FFF;
    width: 45%;
    height: 48px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.description-container{
    /* border: 1px pink solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 50px;
}

.des-detail{
    color: #000;
    font-family: Epilogue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-top: 3%;
}

.bedroom-price-container{
    max-height: 50vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.bedroom-price-container h2{
    padding-bottom: 10px;
}


.bedroom-price-container p{
    display: flex ;
    justify-content: space-between;
    width: 100%;
    padding: 12px 30px 12px 30px;
    border-bottom: 1px solid #CED3D8;
}

.bedroom-detail-container{
    border: 1px solid #CED3D8;
    border-radius: 16px;
    width: 90%;
}

.bedroom-price-container p:last-child{
    border-bottom: none;
}

.key-feat-container{
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.key-feat-detail{
    width: 85%;
    

}

.modal-heading{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 40px 0px;
}

.form{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
    margin-top:40px;
}

.form-input{
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: space-around;
}

.viewing-container{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.viewing-container p{
    padding-top: 30px;
}

.modal-btn{
  margin-top: 30px;
  border: none;
  border-radius: 12px;
  background: #3A5295;
  width: 100%;
  height: 56px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.border{
    border-radius: 12px;
    border: 1px solid #CED3D8;
    background: #FFF;
}

.form-input input ,textarea{
    border-radius: 12px;
    border: 1px solid #CED3D8;
    background: #FFF;
}

.form-input input{
    width: 90%;
height: 56px;
flex-shrink: 0;
}




