.allCity-container{
    border: #CED3D8 1px solid;
    border-radius: 18px;
    width: 300px;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: black;

    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}

.allCity-container:hover{
    background-color: #3A5295;
    color: white;
}
