.searchCity-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.searchCity-container h3{
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.searchCityCard-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 2%;
}